@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

*::selection {
  background-color: #c8e3ff;
}

* {
  scrollbar-width: thin;
}

button>* {
  pointer-events: none;
}

.formInput {
  @apply p-2 border dark:border-neutral-700 outline-none hover:border-black dark:hover:border-neutral-600 focus:border-black dark:focus:border-neutral-500 focus-visible:border-black dark:focus-visible:border-neutral-700 text-base;
}

/* loader */

.loader {
  width: 48px;
  height: 48px;
  border: 5px solid #000;
  border-bottom-color: transparent;
  border-radius: 50%;
  display: inline-block;
  box-sizing: border-box;
  animation: rotation 1s linear infinite;
}

@keyframes rotation {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

/* screen loader */
.screenLoader {
  color: #000;
  position: relative;
  font-size: 11px;
  background: #000;
  animation: escaleY 1s infinite ease-in-out;
  width: 1em;
  height: 4em;
  animation-delay: -0.16s;
}
.screenLoader:before,
.screenLoader:after {
  content: '';
  position: absolute;
  top: 0;
  left: 2em;
  background: #000;
  width: 1em;
  height: 4em;
  animation: escaleY 1s infinite ease-in-out;
}
.screenLoader:before {
  left: -2em;
  animation-delay: -0.32s;
}

@keyframes escaleY {
  0%, 80%, 100% {
    box-shadow: 0 0;
    height: 4em;
  }
  40% {
    box-shadow: 0 -2em;
    height: 5em;
  }
}

/* button loader */
/* HTML: <div class="loader"></div> */
.buttonLoader {
  width: 20px;
  aspect-ratio: 1;
  display: grid;
  border-radius: 50%;
  background:
    linear-gradient(0deg ,rgba(255, 255, 255, 0.5) 30%,#0000 0 70%,rgb(255, 255, 255) 0) 50%/8% 100%,
    linear-gradient(90deg,rgba(255, 255, 255, 0.25) 30%,#0000 0 70%,rgba(255, 255, 255, 0.75) 0) 50%/100% 8%;
  background-repeat: no-repeat;
  animation: l23 1s infinite steps(12);
}
.buttonLoader::before,
.buttonLoader::after {
   content: "";
   grid-area: 1/1;
   border-radius: 50%;
   background: inherit;
   opacity: 0.915;
   transform: rotate(30deg);
}
.buttonLoader::after {
   opacity: 0.83;
   transform: rotate(60deg);
}
@keyframes l23 {
  100% {transform: rotate(1turn)}
}